.navbar {
    background: linear-gradient(to right, rgba(143, 188, 255), rgba(0, 146, 184));
    /*
    la navbar
    */
}

.offcanvas-header {
    background: linear-gradient(to right, rgba(143, 188, 255), rgba(0, 146, 184));
    font-weight: bold;
    font-size: 20px;
    /*el header del off canvas*/
}

.offcanvas-title {
    font-size: 25px;
    font-weight: bold;
    /*el nombre de la empresa*/
}

.offcanvas-body {
    font-size: 17px;
    
}

.dropdown-menu {
    background: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 17px;
}

.dropdown-item:hover {
    background: rgb(255, 255, 255);
}