<app-navbar></app-navbar>
<div class="padre_tabla">
    <table class="table  rounded-25">
        <thead class="table-secondary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Hora de ingreso</th>
            <th scope="col">Membresía</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>OIA05F</td>
            <td>11:52:11</td>
            <td>Sí</td>
            <td class="salida"> <button class="btn_salida">SALIDA</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>RKY945</td>
            <td>15:03:21</td>
            <td>No</td>
            <td class="salida"> <button class="btn_salida">SALIDA</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>AIH915</td>
            <td>21:52:12</td>
            <td>No</td>
            <td class="salida"> <button class="btn_salida">SALIDA</button></td>
          </tr>
        </tbody>
    </table>
  
</div>

<footer class = "fixed-bottom">
  <div class="foter">
    <button class="btn_ingresar">Ingresar vehículo</button>
  </div>
</footer>
